<ul class="side-bar">
  <li class="nav-bar-item home">
      <img src="../../../../assets/logo.svg" alt="logo">
  </li>
  <li class="nav-bar-item about">
    <a href="#">
      <i class="fas fa-users"></i>
      <span>About us</span>
    </a>

  </li>
  <li class="nav-bar-item question">
    <a href="#">
      <i class="fas fa-question"></i>
      <span>Question and Answer</span>
    </a>
  </li>
  <li class="nav-bar-item facebook">
    <a href="https://www.facebook.com/NhapKhauLuxury">
      <i class="fab fa-facebook-square"></i>
      <span>Facebook</span>
    </a>
  </li>
  <li class="nav-bar-item phone">
    <a href="#">
      <i class="fas fa-phone-square"></i>
      <span>0376121697</span>
    </a>
  </li>
</ul>
