.side-bar {
  height: 100vh;
  min-height: 500px;
  overflow-x: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 6%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 4px 0 10px -3px #c1c1c1;
  z-index: 99;
  transition: left .3s ease;
  list-style: none;
  padding: 0;
  li {
    text-align: center;
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    position: relative;
    display: block;
    width: 100%;
    transition: all .2s;
    &:hover span {
      display: block;
      left: 100%;
    }
    &:hover i {
      color: #fb9865;
    }
  }

  a img {
    display: block;
  }

  .home {
    background: linear-gradient(to bottom right,#fb9865,#f96a1f 85%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  span {
    position: absolute;
    top: 0;
    left: 0%;
    display: none;
    width: 100%;
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color: #6c7983;
  }

  i {
    font-size: 30px;
    color: #6c7983;
    transition: ease-in-out .2s;

  }
}
