<div class="container">
  <!-- Yến -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="body__title-1">
        Yến Sào
      </h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../../assets/yen-tinh-che.jpg" class="img-fluid rounded-start card__img" alt="Yến Tinh Chế">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Yến Tinh Chế</h3>
              <p class="card-text">Yến tinh chế giúp cho người tiêu dùng tiết kiệm rất nhiều thời gian sơ chế. Với đặc tính tiện lợi này, yến tinh chế là sản phẩm được lựa chọn nhiều thích hợp trong cuộc sống bận rộn hiện nay.</p>
              <br>
              <p class="card-text">Tổ yến thô là còn nguyên tổ, các thứ cặn bã như lông hay bụi bẩn được khai thác và đóng gói trực tiếp chưa qua bất kỳ công đoạn sơ chế nào. Còn yến tinh chế đã qua nhiều công đoạn xử lý để làm sạch lông, bụi bẩn và tạp chất, cực kì tiện lợi và tiết kiệm thời gian cho người tiêu dùng khi chế biến.</p>
              <br>
              <p class="card-text">🔥 Nếu quý khách có nhu cầu với sản phẩm này hãy liên hệ với chúng tôi để được phục vụ tốt nhất🔥</p>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <i class="fab fa-facebook-square"></i>
                </li>
                <li class="list-group-item">
                  <a href="https://www.facebook.com/NhapKhauLuxury">Hàng nhập cao cấp fanpage</a>
                </li>
              </ul>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <i class="fas fa-phone-square"></i>
                </li>
                <li class="list-group-item">
                  <a href="#">0376121697</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../../assets/yen tho.jpg" class="img-fluid rounded-start card__img" alt="Yến Thô">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Yến Thô</h3>
              <p class="card-text">Tổ yến thô là loại tổ yến nguyên chất 100% được thu hoạch trực tiếp từ tự nhiên trên các vách đá hoặc từ các nhà nuôi yến. Vì vậy sản phẩm thường chứa các tạp chất gồm: bụi bẩn, các sợi lông và phân của chim yến, hoặc các loại côn trùng sâu bọ mà chim mẹ tha về làm thức ăn cho chim yến con.</p>
              <br>
              <p class="card-text">🔥 Nếu quý khách có nhu cầu với sản phẩm này hãy liên hệ với chúng tôi để được phục vụ tốt nhất🔥</p>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <i class="fab fa-facebook-square"></i>
                </li>
                <li class="list-group-item">
                  <a href="https://www.facebook.com/NhapKhauLuxury">Hàng nhập cao cấp fanpage</a>
                </li>
              </ul>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <i class="fas fa-phone-square"></i>
                </li>
                <li class="list-group-item">
                  <a href="#">0376121697</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Sữa -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="body__title-1">
        Sữa nhập từ Úc
      </h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center">
            <img src="../../../../assets/ensure-gold-vani.jpg" class="img-fluid rounded-start card__img" alt="Ensure vani">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Ensure Gold Hương Vani</h3>
              <p class="card-text">Ensure Gold mới là sản phẩm tiên phong có thêm dưỡng chất HMB, kết hợp với hỗn hợp protein 3 nguồn phức hợp, giúp bảo vệ và tái tạo khối cơ. Với công thức dinh dưỡng đầy đủ và cân đối bao gồm 28 loại vitamin và khoáng chất cùng hàm lượng Protein và vitamin D cao hơn, Ensure Gold được chứng minh lâm sàng giúp tăng cường sức khỏe trong 8 tuần.</p>
              <br>
              <p class="card-text">🔥 Nếu quý khách có nhu cầu với sản phẩm này hãy liên hệ với chúng tôi để được phục vụ tốt nhất🔥</p>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <i class="fab fa-facebook-square"></i>
                </li>
                <li class="list-group-item">
                  <a href="https://www.facebook.com/NhapKhauLuxury">Hàng nhập cao cấp fanpage</a>
                </li>
              </ul>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <i class="fas fa-phone-square"></i>
                </li>
                <li class="list-group-item">
                  <a href="#">0376121697</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center">
            <img src="../../../../assets/ensure-gold-cafe.png" class="img-fluid rounded-start card__img" alt="Ensure cafe">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Ensure Gold Hương Cà Phê</h3>
              <p class="card-text">Ensure Gold với HMB lần đầu tiên giới thiệu Hương Cà Phê mới thơm ngon, tăng cường sức khỏe. Với công thức dinh dưỡng đột phá bổ sung HMB và hỗn hợp đạm chất lượng cao giúp bảo vệ khối cơ, cùng nguồn dinh dưỡng đầy đủ và cân đối từ 28 vitamin và khoáng chất, Ensure Gold giúp tăng cường sức khỏe trong 8 tuần.</p>
              <br>
              <p class="card-text">🔥 Nếu quý khách có nhu cầu với sản phẩm này hãy liên hệ với chúng tôi để được phục vụ tốt nhất🔥</p>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <i class="fab fa-facebook-square"></i>
                </li>
                <li class="list-group-item">
                  <a href="https://www.facebook.com/NhapKhauLuxury">Hàng nhập cao cấp fanpage</a>
                </li>
              </ul>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <i class="fas fa-phone-square"></i>
                </li>
                <li class="list-group-item">
                  <a href="#">0376121697</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center">
            <img src="../../../../assets/ensure-it-vani.jpg" class="img-fluid rounded-start card__img" alt="Ensure ít ngọt Vani">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Ensure Gold Ít Ngọt Hương Vani</h3>
              <p class="card-text">Ensure Gold mới là sản phẩm tiên phong có thêm dưỡng chất HMB, kết hợp với hỗn hợp protein 3 nguồn phức hợp, giúp bảo vệ và tái tạo khối cơ. Với công thức dinh dưỡng đầy đủ và cân đối bao gồm 28 loại vitamin và khoáng chất cùng hàm lượng Protein và vitamin D cao hơn, Ensure Gold được chứng minh lâm sàng giúp tăng cường sức khỏe trong 8 tuần.</p>
              <br>
              <p class="card-text">🔥 Nếu quý khách có nhu cầu với sản phẩm này hãy liên hệ với chúng tôi để được phục vụ tốt nhất🔥</p>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <i class="fab fa-facebook-square"></i>
                </li>
                <li class="list-group-item">
                  <a href="https://www.facebook.com/NhapKhauLuxury">Hàng nhập cao cấp fanpage</a>
                </li>
              </ul>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <i class="fas fa-phone-square"></i>
                </li>
                <li class="list-group-item">
                  <a href="#">0376121697</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center">
            <img src="../../../../assets/ensure-it-lua-mach.png" class="img-fluid rounded-start card__img" alt="Ensure ít ngọt Lúa mạch">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Ensure Gold Ít Ngọt Hương Lúa Mạch</h3>
              <p class="card-text">Ensure Gold mới là sản phẩm tiên phong có thêm dưỡng chất HMB, kết hợp với hỗn hợp protein 3 nguồn phức hợp, giúp bảo vệ và tái tạo khối cơ. Với công thức dinh dưỡng đầy đủ và cân đối bao gồm 28 loại vitamin và khoáng chất cùng hàm lượng Protein và vitamin D cao hơn, Ensure Gold được chứng minh lâm sàng giúp tăng cường sức khỏe trong 8 tuần.</p>
              <br>
              <p class="card-text">🔥 Nếu quý khách có nhu cầu với sản phẩm này hãy liên hệ với chúng tôi để được phục vụ tốt nhất🔥</p>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <i class="fab fa-facebook-square"></i>
                </li>
                <li class="list-group-item">
                  <a href="https://www.facebook.com/NhapKhauLuxury">Hàng nhập cao cấp fanpage</a>
                </li>
              </ul>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <i class="fas fa-phone-square"></i>
                </li>
                <li class="list-group-item">
                  <a href="#">0376121697</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

